td.sqlight { background-color: Green; width: 20px; height: 20px; }
td.sqdark  { background-color: Olive; width: 20px; height: 20px; }
P.piecewhite { text-align: center; color: Gold }
P.pieceblack { text-align: center; color: Black }
P.legend { text-align: center; color : Purple }
