
.piece
{
	position: absolute;
}

.dimming
{
	filter:alpha(opacity=15);      
    -moz-opacity:0.15;             
    -khtml-opacity: 0.15;          
    opacity: 0.15;
}

.board
{	
	padding: 0px;
	border-color: #B8860B;
	border-style: solid;
	border-width: thick;
	border-collapse: collapse;
	border-spacing: 0px;
	display: inline-block;
}

.boardSquareHover
{
	background-color: Aqua;
}

.boardSquareEven,
.boardSquareOdd,
.boardSquare
{
	padding: 0px;
	border-color: Black;
	border-style: solid;
	border-width: thin;
	width: 75px;
	height: 75px;
	vertical-align: top;
	align: left;
}

.boardSquareEven
{
	background-color: #138F6A;
}

.boardSquareOdd
{
	background-color: #FDE8CC ;
}
